body, table, tr, th, td, form, label, img, ul, ol, li, div, span, p, a, h1, h2, h3, h4, h5, h6, dd {
	padding:0;
	border:0;
	margin:0;
	border-collapse:collapse;
	text-align:left;
	vertical-align:top;
}

body {
	background-color: black;
}

#audio {
	display: none;
}

#media {
	height: 100%;
	overflow: hidden;
	position: absolute;
	width: 100%;
}

img, video {
	max-height: 100%;
	position: relative;
	margin: auto;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}
