doctype html
html
	head
		meta( charset="utf-8" )
		block head
			block css
				link( rel="stylesheet", href="/css/style.css" )
			block js
				script( src="/socket.io/socket.io.js" )
				script( src="/js/jquery.js" )
	body
		block body
			.container
				block heading
					if heading
						.page-header
							h2 #{ heading }
				block contents
